html, body {
	margin: 0;
}

html,
body,
#pClock,
#dataOverlay {
	width: 100%;
	height:100%;
}

#pClock {
	background: #fafafa;
}

#pClock svg {
	width: 100%;
	height: 100%;
}

#dataOverlay {}

#header {
	width: 100%;
	padding: .5em;
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	background: #dedede;
}
