html, body {
	margin: 0;
	font-family: sans-serif;
}

html,
body,
#main,
#pClock,
#paper,
#chrome,
#pClock svg {
	width: 100%;
	height:100%;
	overflow: hidden;
}

#pClock {
	position: relative;
}

#paper,
#chrome {
	position: absolute;
	z-index: 20;
	top:0;
	left:0;
}

#chrome {
	z-index: 10;
}

#dataOverlay {}

#header {
	width: 100%;
	padding: .5em;
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	background: #dedede;
}
